{% extends 'storehome.html'%}
{% block shome %}
    
<div class="row" style="margin-top: 5%;"> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
        <!-- <h1 class="text-center" style="font-size: xx-large; font-weight: bold;color: white;">My Product</h1>  -->
        </nav> 
        <div class="row"> 
          {%for i in data%} 
        <div class="col-3"> 
          <div class="card mt-2" style="height: 600px;"> 
            <img class="card-img-top" src="{{i.image.url}}" alt="card image cap"> 
            <div class="card-body"> 
              <h5 class="card-title">{{i.productname}}</h5> 
              <p class="card-title">Price:{{i.price}}</p> 
              <p class="card-title">ram:{{i.ram}}</p> 
              <p class="card-title">rom:{{i.rom}}</p> 
              <p class="card-title">battery:{{i.battery}}</p> 
              <p class="card-title">processor:{{i.processor}}</p> 
   
   
            </div> 
          </div> 
          <div class="card-footer">
            <a href="{% url 'dp' i.id %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'ep' i.id %}" class="btn btn-success">Edit</a>
          </div>
   
        </div>   
        {% endfor%} 
        </div>
{% endblock shome %}