<!doctype html>
<html lang="en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,1,200" />
  <head>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Hidayah Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    
  </head>
  <body>
    {% load static%}
    <link href="{% static 'css/store.css' %}" rel="stylesheet">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>
    <header id="header" class="fixed-top header-inner-pages">
      <div class="container d-flex align-items-center justify-content-between">
  
        
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        <h1 style="color:chocolate;">MOBILE ZONE</h1>
        <nav id="navbar" class="navbar">
          
          <ul>
            

            <li><a class="nav-link scrollto " href="{% url 'sh' %}">Home</a></li>
            <li><a class="nav-link scrollto" href="{% url 'pro'%}">Add product</a></li>
            <li><a class="nav-link scrollto" href="{% url 'mp'%}">my products</a></li>
          
            <li class="dropdown text-white ml-3"><span class="material-symbols-outlined">
              person_2
              </span>
            <ul>
           <li><a href="" class="text-black">{{request.user.first_name }} {{request.user.last_name }}</a></li>
           <li><a class="nav-link-scrollto" href="{% url 'lo' %}"><button class="btn btn-success">Log Out</button></a></li>
           <li><a class="nav-link-scrollto" href="{% url 'cp' %}"><button class="btn btn-danger">Change password</button></a></li>
           </li>

          </ul>
          </ul>

          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
  
      </div>
    </header><!-- End Header -->
  
    <!-- ======= Hero Section ======= -->
    {% block shome %}
    <section id="hero">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
  
        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  
        <div class="carousel-inner" role="listbox">
          </div>
  
          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
            <div class="carousel-item active" style="background-color:rgb(11, 184, 241);">
            <div class="carousel-container">
              <div class="container">
                <!-- <h1 class="logo"><a href="index.html">Mobile zone</a></h1> -->
                <h2 class="animated fadeInDown">Welcome to <span>Mobile Zone</span></h2>
                <h3 style="color: beige;">" Let's Change The World "</h3>
                <p style="color:white;">store page</p>
                <!-- <a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a> -->
              </div>
            </div>
          </div>
          </div>
      </div>
    </section>  

  </nav>
  {% endblock shome %}
  </body>
</html>